.proPicStyle{
    width: 25%;
    border-radius: 50%;
}

.titleFont{
    font-family: Courier New, Courier, monospace;
    color: whitesmoke;
}

.bg{
    background-color:  rgba(41, 63, 71, 1);
    background-size: cover;
}

.nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
}

.padding{
    padding: 15px;
}

.home_border{
    border-style: solid;
    border-color:lightgrey;
    border-width: 1px;
    border-radius: 5px;
    font-family: Courier New, Courier, monospace;
}

.collNew{
    border: none !important;
    border-width: 0px;
}